src/LearnMVC/Service References/ServiceReference1/WCFService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54147/WebServices/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://localhost:54147/WebServices/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54147/WebServices/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileConverter_GetInt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInt" />
  </wsdl:message>
  <wsdl:message name="FileConverter_GetInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntResponse" />
  </wsdl:message>
  <wsdl:message name="FileConverter_ComplexMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMethod" />
  </wsdl:message>
  <wsdl:message name="FileConverter_ComplexMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMethodResponse" />
  </wsdl:message>
  <wsdl:message name="FileConverter_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="FileConverter_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="FileConverter">
    <wsdl:operation name="GetInt">
      <wsdl:input wsaw:Action="http://tempuri.org/FileConverter/GetInt" message="tns:FileConverter_GetInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FileConverter/GetIntResponse" message="tns:FileConverter_GetInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/FileConverter/ComplexMethod" message="tns:FileConverter_ComplexMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FileConverter/ComplexMethodResponse" message="tns:FileConverter_ComplexMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/FileConverter/UploadFile" message="tns:FileConverter_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FileConverter/UploadFileResponse" message="tns:FileConverter_UploadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>