src/LearnMVC/Service References/ServiceReference1/WCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54147/WebServices/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices" />
  <xs:element name="GetInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIntResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices" minOccurs="0" name="request" nillable="true" type="q1:ComplexRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices" minOccurs="0" name="ComplexMethodResult" nillable="true" type="q2:ComplexResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>