src/LearnMVC/Service References/WcfEchoService/WcfEchoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices.Migration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices.Migration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54147/WebServices/Migration/WcfEchoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
  <xs:complexType name="EchoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://tempuri.org/" minOccurs="0" name="Request" nillable="true" type="q1:EchoRequest" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoResponse" nillable="true" type="tns:EchoResponse" />
</xs:schema>