src/LearnMVC/Service References/WcfEchoService/WcfEchoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54147/WebServices/Migration/WcfEchoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices.Migration" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="tns:EchoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EchoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoRequest" nillable="true" type="tns:EchoRequest" />
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LearnMVC.WebServices.Migration" minOccurs="0" name="EchoResult" nillable="true" type="q1:EchoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>