src/LearnMVC/Service References/FileConverterService/FileConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="GetInt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIntResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComplexMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ComplexRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ComplexRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfChildItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChildItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChildItem" nillable="true" type="tns:ChildItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChildItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComplexMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComplexMethodResult" type="tns:ComplexResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ComplexResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadFile">
        <s:complexType />
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIntSoapIn">
    <wsdl:part name="parameters" element="tns:GetInt" />
  </wsdl:message>
  <wsdl:message name="GetIntSoapOut">
    <wsdl:part name="parameters" element="tns:GetIntResponse" />
  </wsdl:message>
  <wsdl:message name="ComplexMethodSoapIn">
    <wsdl:part name="parameters" element="tns:ComplexMethod" />
  </wsdl:message>
  <wsdl:message name="ComplexMethodSoapOut">
    <wsdl:part name="parameters" element="tns:ComplexMethodResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="FileConverterSoap">
    <wsdl:operation name="GetInt">
      <wsdl:input message="tns:GetIntSoapIn" />
      <wsdl:output message="tns:GetIntSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComplexMethod">
      <wsdl:input message="tns:ComplexMethodSoapIn" />
      <wsdl:output message="tns:ComplexMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileConverterSoap" type="tns:FileConverterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInt">
      <soap:operation soapAction="http://tempuri.org/GetInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexMethod">
      <soap:operation soapAction="http://tempuri.org/ComplexMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileConverterSoap12" type="tns:FileConverterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInt">
      <soap12:operation soapAction="http://tempuri.org/GetInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexMethod">
      <soap12:operation soapAction="http://tempuri.org/ComplexMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileConverter">
    <wsdl:port name="FileConverterSoap" binding="tns:FileConverterSoap">
      <soap:address location="http://localhost:54147/WebServices/FileConverter.asmx" />
    </wsdl:port>
    <wsdl:port name="FileConverterSoap12" binding="tns:FileConverterSoap12">
      <soap12:address location="http://localhost:54147/WebServices/FileConverter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>